<!DOCTYPE html>
<html>
    <body>
        <h3>Bonjour {{ email }},</h3>


        <p>Vous avez demandé à changer votre mot de passe. Si ce n'est pas le cas, contactez-nous à l'adresse or2c@univ-nantes.fr</p>

        <p>Le bouton ci-dessous vous permettra d'accéder à une page de réinitialisation</p>

        <a href="{{ reset_password_url }}">Lien de réinitialisation</a>

        <p>Attention, le lien n'est valable que 30 minutes. Passé ce délai, il vous faudra réitérer votre demande</p>

        <p>L'équipe OR2C</p>
    </body>
</html>